body{
  margin: 0;
  padding: 0;
}

#loader{
  position:fixed;
  top:0;
  z-index:10000;
  background: #1a1a1a;
  display:flex;
  min-height:100vh;
  width:100%;
  align-items:center;
  text-align:center;
  justify-content:center;
}

#loader h1{
  color:#d1cfcf;
  position:relative;
  top: 70px;
  left: 250px;
  animation: shrink 2s ease-in-out;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
}

path{
  stroke-linecap:round;
  stroke-width:10;
  stroke-linejoin:"round";
} 

#left-half{
  stroke-dasharray: 1000;
  stroke-dashoffset: 999;
  animation: animate-right-half 3s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#right-half{
  width:50px;
  height:50px;
  border-radius:50%;
  stroke-dasharray: 1000;
  stroke-dashoffset: 999;
  animation: animate-right-half 3s ease-in;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes animate-right-half{
  to{
        stroke-dashoffset: 0;
  }
}

svg{
  animation: shrink 2s ease-in-out;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  width:100px;
  margin-right: 450px;
  margin-bottom: 150px;
} 

@keyframes shrink{
  to{
     transform: scale(0);
     opacity:0;
  }
}

#loader{
  animation: disappear 3s ease-in-out;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}


@keyframes disappear{
  from{
     opacity:1;
  }
  to{
     opacity:0;
  }
}



@keyframes zoom-in{
  to{
     transform:scale(1);
  }
}

/* responsive */

@media(min-width:270px) and (max-width:478px) {
  svg{
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    width:100px;
    margin-right: 150px;
    margin-bottom: 150px;
  } 
  #loader h1{
    color:#d1cfcf;
    position:relative;
    top: 70px;
    /* margin-right: 100px; */
    font-size: 16px;
    font-weight: 900;
    left: 130px;
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }

}

@media(min-width:479px) and (max-width:579px) {
  svg{
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    width:100px;
    margin-right: 190px;
    margin-bottom: 150px;
  } 
  #loader h1{
    color:#d1cfcf;
    position:relative;
    top: 70px;
    /* margin-right: 100px; */
    font-size: 23px;
    left: 170px;
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }


}

@media(min-width:580px) and (max-width:767px) {
  svg{
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    width:100px;
    margin-right: 230px;
    margin-bottom: 150px;
  } 
  #loader h1{
    color:#d1cfcf;
    position:relative;
    top: 70px;
    /* margin-right: 100px; */
    font-size: 27px;
    left: 190px;
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }


}

@media (min-width:768px) and (max-width:991px) {

  svg{
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    width:100px;
    margin-right: 300px;
    margin-bottom: 150px;
  } 
  #loader h1{
    color:#d1cfcf;
    position:relative;
    top: 70px;
    left: 250px;
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  
  svg{
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    width:100px;
    margin-right: 150px;
    margin-bottom: 150px;
  } 
  #loader h1{
    color:#d1cfcf;
    position:relative;
    top: 70px;
    left: 250px;
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }
}

@media (min-width:1200px) and (max-width:1600px) {
  svg{
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
    width:100px;
    margin-right: 450px;
    margin-bottom: 150px;
  } 
  #loader h1{
    color:#d1cfcf;
    position:relative;
    top: 70px;
    left: 250px;
    animation: shrink 2s ease-in-out;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
  }
}

/* responsive */
